{% set flash = _view.loadHelper('Flash') %}
{% set flashOut = flash.render() %}
{% if flashOut %}
    {% set result = {} %}
    {% if flashOut matches '/message success/' %}
        {% set result = {'success': true} %}
    {% else %}
        {% set text = flashOut|replace({'<div id="flashMessage" class="message error">': '', '</div>': ''})|trim %}
        {% set result = {'success': false, text: text} %}
    {% endif %}
    {{ result|json_encode }}
{% else %}
{{ form.create('FeedbackMessage', {
    'url': {'plugin': 'feedback', 'controller': 'feedback', 'action': 'send', '0': 'order_call'},
    'id': 'FeedbackMessageSendFormOrderCall',
    'class': 'send-form',
    'autocomplete': 'off',
    'inputDefaults': {'div': 'ani-input-wrap'}
}) }}
    {{ form.input('name', {
        'id': 'FeedbackMessageNameOrderCall',
        'label': {'class': 'ani-label', 'text': 'Имя *'},
        'class': 'client-name ani-input',
        'type': 'text',
        'required': true,
    }) }}
    {{ form.input('phone', {
        'label': {'class': 'ani-label', 'text': 'Телефон *'},
        'id': 'FeedbackMessagePhoneOrderCall',
        'class': 'client-phone ani-input',
        'required': true,
        'type': 'tel'
    }) }}
    {{ form.input('message', {
        'label': {'class': 'ani-label', 'text': 'Ваше сообщение *'},
        'id': 'FeedbackMessageMessageOrderCall',
        'class': 'client-message',
        'required': true,
        'rows': 3,
        'type': 'textarea'
    }) }}
<div class="btn-holder">
    <button type="submit" class="btn">Оставить заявку</button>
    {% if recaptcha.hasKey() %}
        {{ recaptcha.display_form({'id': 'order_call', 'div': 'recaptcha-block'}) }}
    {% endif %}
</div>
<div class="form-agree align-left">
    <label class="checkbox-label form-agree-check checked">
        {{ form.checkbox('confirmation', {
            'checked': true,
            'id': 'FeedbackMessageConfirmationOrderCall',
            'hiddenField': false,
            'class': 'accent-check',
            'value': 1,
        }) }} Настоящим подтверждаю, что ознакомлен и согласен с условиями <a href="#" class="open-text-modal agree-link" data-id="1">политики конфиденциальности.</a>
    </label>
</div>
{{ form.end() }}
{% endif %}
