{% set flash = _view.loadHelper('Flash') %}
{% set flashOut = flash.render() %}
{% if flashOut %}
    {% set result = {} %}
    {% if flashOut matches '/message success/' %}
        {% set result = {'success': true} %}
    {% else %}
        {% set text = flashOut|replace({'<div id="flashMessage" class="message error">': '', '</div>': ''})|trim %}
        {% set result = {'success': false, text: text} %}
    {% endif %}
    {{ result|json_encode }}
{% else %}
    {{ form.create('FeedbackMessage', {
        'url': {'plugin': 'feedback', 'controller': 'feedback', 'action': 'send', '0': 'gift_form'},
        'id': 'FeedbackMessageSendFormGiftForm',
        'class': 'send-form',
        'autocomplete': 'off',
        'inputDefaults': {'div': 'ani-input-wrap'}
    }) }}
    {{ form.input('name', {
        'id': 'FeedbackMessageSendFormGiftForm',
        'label': {'class': 'ani-label', 'text': 'Имя *'},
        'class': 'client-name ani-input',
        'type': 'text',
        'required': true,
    }) }}
    {{ form.input('phone', {
        'label': {'class': 'ani-label', 'text': 'Телефон *'},
        'id': 'FeedbackMessageSendFormGiftForm',
        'class': 'client-phone ani-input',
        'required': true,
        'type': 'tel'
    }) }}
    {{ form.input('user_gift_text', {
        'type': 'hidden'
    }) }}
    <div class="btn-holder">
        <button type="submit" class="btn ">Испытай удачу</button>
        {% if recaptcha.hasKey() %}
            {{ recaptcha.display_form({'id': 'gift_form', 'div': 'recaptcha-block'}) }}
        {% endif %}
    </div>
    <div class="form-agree align-left">
        <label class="checkbox-label form-agree-check checked">
            {{ form.checkbox('confirmation', {
                'checked': true,
                'id': 'FeedbackMessageConfirmationOrderCall',
                'hiddenField': false,
                'class': 'accent-check',
                'value': 1,
            }) }} Настоящим подтверждаю, что ознакомлен и согласен с условиями <a href="#" class="open-text-modal agree-link" data-id="1">политики конфиденциальности.</a>
        </label>
    </div>
    {{ form.end() }}
{% endif %}
