<footer class="layout-footer">
    <div class="container">
        <div class="row">
            <div class="col-1-3 col-xs-1">
                <a href="tel:{{ config.Site.phone }}" class="phone-link light">
                    <span class="phone-icon-wrap">
                        <svg class="svg-icon phone-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 459 459" xml:space="preserve">
                            <path class="st0" d="M433.5,318.8c-30.6,0-61.2-5.1-91.8-15.3c-7.6-2.5-17.9,0-25.5,5.1l-56.1,56.1 c-71.4-35.7-130.1-96.9-168.3-168.3l56.1-56.1c7.6-7.6,10.2-17.8,5.1-25.5c-7.6-28.1-12.8-58.7-12.8-89.3 c0-15.3-10.2-25.5-25.5-25.5H25.5C10.2,0,0,10.2,0,25.5C0,265.2,193.8,459,433.5,459c15.3,0,25.5-10.2,25.5-25.5v-89.3 C459,329,448.8,318.8,433.5,318.8z"/>
                        </svg>
                    </span> {{ config.Site.phone }}
                </a>
                <a href="mailto:{{ config.Site.email }}" class="mail-link light visible-dib-xs">
                    <svg class="svg-icon mail-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 477.9 477.9" xml:space="preserve">
                        <path class="st0" d="M460.8,68.3H17.1C7.6,68.3,0,75.9,0,85.3v307.2c0,9.4,7.6,17.1,17.1,17.1h443.7c9.4,0,17.1-7.6,17.1-17.1 V85.3C477.9,75.9,470.2,68.3,460.8,68.3z M432.8,102.4L238.9,251.5L45.1,102.4H432.8z M443.7,375.5H34.1V137.1l194.4,149.5 c6.1,4.7,14.7,4.7,20.8,0l194.4-149.5V375.5z"/>
                    </svg> {{ config.Site.email }}
                </a>
                <ul class="social-list not-marked nav" data-attr="Мы в соц. сетях">
                    {% if config.Site.vk %}
                        <li>
                            <a href="{{ config.Site.vk }}" target="_blank" class="social-link">
                                <svg class="svg-icon vk-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 304.4 304.4">
                                    <path class="st0" d="M261.9,175.6c10.1,9.9,20.8,19.1,29.8,30c4,4.8,7.8,9.8,10.7,15.4c4.1,8,0.4,16.7-6.7,17.2 l-44.3,0c-11.4,0.9-20.6-3.7-28.2-11.5c-6.1-6.3-11.8-12.9-17.7-19.4c-2.4-2.6-5-5.1-8-7.1c-6.1-3.9-11.3-2.7-14.8,3.6 c-3.5,6.4-4.3,13.5-4.7,20.7c-0.5,10.4-3.6,13.2-14.1,13.7c-22.4,1.1-43.7-2.3-63.4-13.6c-17.4-10-30.9-24-42.7-40 c-22.9-31-40.4-65.1-56.2-100.1c-3.5-7.9-1-12.1,7.8-12.3c14.5-0.3,28.9-0.3,43.4,0c5.9,0.1,9.8,3.5,12,9 c7.8,19.2,17.4,37.6,29.4,54.5c3.2,4.5,6.5,9,11.1,12.2c5.1,3.5,9.1,2.4,11.5-3.4c1.5-3.6,2.2-7.5,2.6-11.4 c1.1-13.4,1.3-26.7-0.7-40.1c-1.2-8.3-5.9-13.7-14.2-15.3c-4.2-0.8-3.6-2.4-1.6-4.8c3.6-4.2,6.9-6.8,13.6-6.8h50.1 c7.9,1.6,9.6,5.1,10.7,13l0,55.7c-0.1,3.1,1.5,12.2,7.1,14.2c4.4,1.4,7.4-2.1,10-4.9c12-12.7,20.6-27.8,28.2-43.4 c3.4-6.9,6.3-14,9.1-21.1c2.1-5.3,5.4-7.9,11.3-7.8l48.2,0c1.4,0,2.9,0,4.3,0.3c8.1,1.4,10.4,4.9,7.8,12.8 c-4,12.5-11.6,22.8-19.2,33.3c-8,11.1-16.6,21.9-24.6,33.1C252.3,161.5,252.8,166.7,261.9,175.6L261.9,175.6z"/>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if config.Site.instagram %}
                        <li>
                            <a href="{{ config.Site.instagram }}" target="_blank" class="social-link">
                                <svg class="svg-icon in-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512">
                                    <path class="st0" d="M363.3,0H148.7C66.7,0,0,66.7,0,148.7v214.5C0,445.3,66.7,512,148.7,512h214.5c82,0,148.7-66.7,148.7-148.7 V148.7C512,66.7,445.3,0,363.3,0z M472,363.3c0,60-48.8,108.7-108.7,108.7H148.7C88.8,472,40,423.2,40,363.3V148.7 C40,88.8,88.8,40,148.7,40h214.5c60,0,108.7,48.8,108.7,108.7V363.3z"/>
                                    <path class="st0" d="M256,118c-76.1,0-138,61.9-138,138s61.9,138,138,138s138-61.9,138-138S332.1,118,256,118z M256,354 c-54,0-98-44-98-98s44-98,98-98s98,44,98,98S310,354,256,354z"/>
                                    <circle class="st0" cx="396" cy="116" r="20"/>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if config.Site.ok %}
                        <li>
                            <a href="{{ config.Site.ok }}" target="_blank" class="social-link">
                                <svg class="svg-icon ok-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 95.5 95.5">
                                    <path class="st0" d="M43,67.3c-7.4-0.8-14.1-2.6-19.8-7.1c-0.7-0.6-1.4-1.1-2.1-1.7c-2.5-2.4-2.8-5.2-0.8-8 c1.7-2.4,4.5-3.1,7.5-1.7c0.6,0.3,1.1,0.6,1.6,1c10.6,7.3,25.3,7.5,36,0.3c1.1-0.8,2.2-1.5,3.5-1.8c2.6-0.7,4.9,0.3,6.3,2.5 c1.6,2.5,1.5,5-0.4,7c-3,3-6.5,5.2-10.5,6.8c-3.7,1.4-7.8,2.2-11.9,2.7c0.6,0.7,0.9,1,1.3,1.4c5.5,5.5,11,11,16.5,16.6 c1.9,1.9,2.3,4.2,1.2,6.4c-1.1,2.4-3.6,4-6.1,3.8c-1.6-0.1-2.8-0.9-3.9-2c-4.1-4.2-8.4-8.3-12.4-12.5c-1.2-1.2-1.8-1-2.8,0.1 c-4.2,4.3-8.4,8.5-12.7,12.7c-1.9,1.9-4.2,2.2-6.4,1.2c-2.4-1.1-3.9-3.6-3.7-6c0.1-1.6,0.9-2.9,2-4C31,79.4,36.4,74,41.8,68.6 C42.2,68.2,42.5,67.8,43,67.3z"/>
                                    <path class="st0" d="M47.5,48.3c-13.2,0-24-11-24-24.2C23.7,10.7,34.5,0,47.8,0c13.4,0,24.1,11,24,24.5 C71.8,37.7,60.9,48.4,47.5,48.3z M59.6,24.1c0-6.6-5.3-11.8-11.8-11.8c-6.6,0-11.9,5.3-11.8,11.9C36,30.8,41.2,36,47.8,36 C54.4,36,59.6,30.7,59.6,24.1z"/>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if config.Site.facebook %}
                        <li>
                            <a href="{{ config.Site.facebook }}" target="_blank" class="social-link">
                                <svg class="svg-icon fb-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 486.4 486.4">
                                    <path class="st0" d="M273.4,159.4l0.1-42c0-21.9,1.5-33.6,32.8-33.6h57.9V0h-83c-80.6,0-99.1,41.6-99.1,110l0.1,49.4l-61.1,0 v83.8h61.1v243.2h91.2l0.1-243.2l82.8,0l8.9-83.8H273.4z"/>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if config.Site.youtube %}
                        <li>
                            <a href="{{ config.Site.youtube }}" target="_blank" class="social-link">
                                <svg class="svg-icon yt-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 90.7 90.7">
                                    <path class="st0" d="M82.3,45.9c-0.9-4.1-4.3-7.1-8.3-7.5c-9.5-1.1-19.1-1.1-28.7-1.1c-9.6,0-19.2,0-28.7,1.1 c-4,0.4-7.3,3.5-8.3,7.5C7.1,51.7,7.1,58,7.1,64s0,12.3,1.3,18.1c0.9,4.1,4.3,7.1,8.3,7.5c9.5,1.1,19.1,1.1,28.7,1.1 c9.6,0,19.2,0,28.7-1.1c4-0.4,7.3-3.5,8.3-7.5c1.3-5.8,1.3-12.1,1.3-18.1C83.6,58,83.6,51.7,82.3,45.9z M28.9,50.4h-5.5v29.4h-5.1 V50.4h-5.4v-4.8h16.1V50.4z M42.9,79.8h-4.6v-2.8c-1.8,2.1-3.6,3.1-5.3,3.1c-1.5,0-2.5-0.6-3-1.9c-0.3-0.8-0.4-2-0.4-3.8V54.3h4.6 v18.8c0,1.1,0,1.6,0,1.8c0.1,0.7,0.5,1.1,1.1,1.1c0.9,0,1.9-0.7,2.9-2.2V54.3h4.6L42.9,79.8L42.9,79.8z M60.5,72.2 c0,2.4-0.2,4.1-0.5,5.1c-0.6,1.9-1.9,2.9-3.7,2.9c-1.6,0-3.2-0.9-4.8-2.8v2.5h-4.6V45.6h4.6v11.2c1.5-1.8,3.1-2.8,4.8-2.8 c1.8,0,3.1,1,3.7,2.9c0.3,1,0.5,2.7,0.5,5.1V72.2z M77.9,67.9h-9.3v4.5c0,2.4,0.8,3.5,2.4,3.5c1.1,0,1.8-0.6,2.1-1.9 c0-0.3,0.1-1.3,0.1-3.1h4.7v0.7c0,1.5-0.1,2.5-0.1,3c-0.2,1-0.5,2-1.1,2.8c-1.3,1.9-3.2,2.8-5.6,2.8c-2.4,0-4.3-0.9-5.6-2.6 c-1-1.3-1.5-3.3-1.5-6v-8.9c0-2.7,0.4-4.7,1.4-6c1.3-1.7,3.2-2.6,5.5-2.6c2.3,0,4.2,0.9,5.5,2.6c1,1.3,1.4,3.3,1.4,6L77.9,67.9 L77.9,67.9z"/>
                                    <path class="st0" d="M71,58.2c-1.5,0-2.3,1.2-2.3,3.5v2.4h4.6v-2.4C73.3,59.3,72.5,58.2,71,58.2z"/>
                                    <path class="st0" d="M53.8,58.2c-0.8,0-1.5,0.4-2.3,1.1v15.6c0.8,0.8,1.5,1.1,2.3,1.1c1.3,0,2-1.1,2-3.4V61.6 C55.8,59.3,55.1,58.2,53.8,58.2z"/>
                                    <path class="st0" d="M56.4,35c1.7,0,3.5-1,5.3-3.2v2.8h4.7V8.8h-4.7v19.7c-1,1.5-2,2.2-3,2.2c-0.6,0-1-0.4-1.1-1.1 c-0.1-0.2-0.1-0.7-0.1-1.8v-19H53v20.4c0,1.8,0.2,3.1,0.4,3.8C53.9,34.4,54.9,35,56.4,35z"/>
                                    <path class="st0" d="M23.9,20.6v14H29v-14L35.3,0H30l-3.5,13.6L22.8,0h-5.5c1.1,3.2,2.2,6.4,3.3,9.6 C22.3,14.5,23.4,18.1,23.9,20.6z"/>
                                    <path class="st0" d="M42.2,35c2.3,0,4.2-0.9,5.5-2.6c1-1.3,1.5-3.3,1.5-6.1v-9c0-2.8-0.5-4.8-1.5-6.1c-1.3-1.8-3.1-2.6-5.5-2.6 c-2.3,0-4.1,0.9-5.4,2.6c-1,1.3-1.5,3.3-1.5,6.1v9c0,2.7,0.5,4.8,1.5,6.1C38.1,34.1,39.9,35,42.2,35z M40,16.3 c0-2.4,0.7-3.6,2.2-3.6s2.2,1.2,2.2,3.6v10.9c0,2.4-0.7,3.6-2.2,3.6S40,29.5,40,27.1V16.3z"/>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if config.Site.twitter %}
                        <li>
                            <a href="{{ config.Site.twitter }}" target="_blank" class="social-link">
                                <svg class="svg-icon tw-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512">
                                    <path class="st0" d="M10.1,418c47.4,30.1,102.6,46,159.5,46c83.4,0,159.9-32,215.3-90.2c53-55.7,82.2-130.5,80.7-206.4 c20.1-17.2,43.7-50,43.7-82c0-12.3-13.3-20.1-24.1-13.8c-18.9,11.1-36.1,14-53.8,9c-36.2-35.2-90-42.7-135.3-18.2 c-39.6,21.3-61.7,60.4-59.7,103c-67-8.2-128.8-41.7-172-93.9c-7.1-8.5-20.5-7.5-26.2,2.1c-20.8,35.6-20.6,76.8-2.5,110.1 c-8.6,1.5-13.9,8.7-13.9,16.6c0,33.5,15.1,64.2,39.3,85.2c-4.5,4.4-6,10.8-4.1,16.6c10.7,32,34.8,57.1,65,69.6 c-32.8,15.7-69.1,20.9-101.5,16.9C3.9,386.4-4.4,408.9,10.1,418L10.1,418z M174,377.2c12-9.2,5.6-28.4-9.4-28.7 c-26.5-0.6-50.5-13.6-65.5-34.1c7.2-0.5,14.7-1.6,21.8-3.5c16.2-4.4,15.5-27.8-1-31.1c-29.9-6-53.4-27.8-62.2-55.9 c8,2,16.2,3.1,24.4,3.2c16.2,0.1,22.3-20.7,9.1-29.4c-29.8-19.6-42.5-54.2-34-86.8c52,52.7,122.5,84.4,197.1,88 c10.7,0.7,18.7-9.4,16.4-19.6c-10.1-43.9,14.4-74.7,40.7-88.9c26.1-14.1,67.9-18.5,100,15.2c9.5,10,41.7,10.4,58.1,6.6 c-7.3,13.8-18.6,26.9-29.2,34.3c-4.5,3.2-7.1,8.4-6.8,13.9c3.4,70.1-22.7,139.8-71.6,191.1C312.4,403.5,244.2,432,169.6,432 c-29.7,0-58.7-4.8-86.2-14.1C116.3,411.5,147.5,397.6,174,377.2L174,377.2z"/>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-1-4 col-xs-1-2">
                <div class="footer-nav-title footer-title-services">Услуги</div>
                <ul class="footer-nav footer-nav-services not-marked">
                    <li><a href="/page/price" class="footer-nav-link">Стоимость услуг</a></li>
                    <li><a href="/page/services" class="footer-nav-link">Юридические услуги</a></li>
                    <li><a href="/page/decloration" class="footer-nav-link">Заполнение деклораций</a></li>
                    <li><a href="/page/redemption" class="footer-nav-link">Выкуп залоговой недвижимости</a></li>
                    <li><a href="/page/consultations" class="footer-nav-link">Бесплатные консультации по недвижимости</a></li>
                    <li><a href="/page/check" class="footer-nav-link">Проверка недвижимости перед покупкой</a></li>
                    <li><a href="/page/owners" class="footer-nav-link">Проверка собственников</a></li>
                    <li><a href="/page/bki" class="footer-nav-link">Проверка БКИ</a></li>
                </ul>
            </div>
            <div class="col-1-6 col-offset-1-12 col-xs-1-2 col-xs-offset-0">
                <div class="footer-nav-title footer-title-pages">Меню</div>
                <ul class="footer-nav footer-nav-pages not-marked">
                    <li><a href="/agency/realty" class="footer-nav-link">Недвижимость</a></li>
                    <li><a href="/ipoteka" class="footer-nav-link">Ипотека</a></li>
                    <li><a href="/news" class="footer-nav-link">Новости</a></li>
                    <li><a href="/contact" class="footer-nav-link">Контакты</a></li>
                </ul>
            </div>
            <div class="col-1-6 align-right hidden-xs">
                <a href="/" class="logo">
                    <img src="/uploads/assets/images/logo-footer.png" alt=" ">
                </a>
                <a href="mailto:{{ config.Site.email }}" class="mail-link light">
                    <svg class="svg-icon mail-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 477.9 477.9" xml:space="preserve"><path class="st0" d="M460.8,68.3H17.1C7.6,68.3,0,75.9,0,85.3v307.2c0,9.4,7.6,17.1,17.1,17.1h443.7c9.4,0,17.1-7.6,17.1-17.1 V85.3C477.9,75.9,470.2,68.3,460.8,68.3z M432.8,102.4L238.9,251.5L45.1,102.4H432.8z M443.7,375.5H34.1V137.1l194.4,149.5 c6.1,4.7,14.7,4.7,20.8,0l194.4-149.5V375.5z"/></svg>
                    {{ config.Site.email }}
                </a>
            </div>
        </div>
        <div class="copyright-holder">
            <div class="row">
                <div class="col-1-2 col-xs-1">
                    <div class="copyright-text">2020 (с) Копирование материалов сайта запрещено.<br>Информация на сайте не является публичной офертой</div>
                </div>
                <div class="col-1-2 col-xs-1 align-right align-left-mobile">
                    <ul class="user-info-list not-marked">
                        <li><a href="#" class="user-info-link open-text-modal" data-id="1">Политика конфиденциальности</a></li>
                        <li><a href="#" class="user-info-link open-text-modal" data-id="1">Пользовательское соглашение</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
