<div id="menu"><button class="hamburger hamburger-line"><span></span></button></div>
<nav class="mobile-nav">
    <div class="nav-overlay align-center">
        <div class="mobile-nav-close"></div>
        <a href="/" class="logo"><img src="/uploads/assets/images/logo.png" alt=" "></a>
        <div class="pseudo-table">
            <div class="pseudo-table-cell">
                <nav>
                    <ul class="nav" id="mobile-menu">
                        {% for menuItem in menus_for_layout.main.threaded %}
                            <li>
                                {% set linkClass = 'light nav-link-news mobile-nav-link' %}
                                {% set chevron = '' %}
                                {% if menuItem.children %}
                                    {% set linkClass = 'menu-link' %}
                                    {% set chevron = '<span class="menu-icon-wrap"><svg width="25" height="15" class="svg-icon down-chevron" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512"><path class="st0" d="M274.3,389.5l230.2-230.2c10.1-10.1,10.1-26.5,0-36.6c-10.1-10.1-26.4-10.1-36.5,0 L256,334.6l-211.9-212c-10.1-10.1-26.4-10.1-36.5,0c-10.1,10.1-10.1,26.5,0,36.6l230.2,230.2C247.7,399.4,264.3,399.4,274.3,389.5z" fill="#9c9c9c"/></svg></span>' %}
                                {% endif %}
                                <a href="{{ menuItem.Link.link }}" class="{{ linkClass }}">{{ menuItem.Link.title }} {{ chevron }}</a>
                                {% if menuItem.children %}
                                    <ul class="submenu">
                                        {% for menuChildrenItem in menuItem.children %}
                                            <li><a href="{{ menuChildrenItem.Link.link }}" class="light mobile-nav-link">{{ menuChildrenItem.Link.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</nav>
