{% set rusTime = _view.loadHelper('Fastadmin.RusTime') %}
<section class="section-news inside" id="news">
    <div class="container">
        <ul class="breadcrumbs not-marked nav">
            <li><a href="/" class="breadcrumbs-link"><svg class="svg-icon smart-home-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 223 193.5"><path class="st0" d="M204.5,79.3l-86-76.7c-4-3.5-9.9-3.5-13.9,0l-86,76.7c-2.2,2-3.5,4.8-3.5,7.8v96c0,5.8,4.7,10.4,10.4,10.4 h172.1c5.8,0,10.4-4.7,10.4-10.4v-96C208,84.1,206.7,81.3,204.5,79.3L204.5,79.3z M187.1,172.6H35.9V91.8l75.6-67.4l75.6,67.4 V172.6L187.1,172.6z"/></svg></a></li>
            <li><a href="/news" class="breadcrumbs-link dark">Новости</a></li>
            <li><a href="#" class="breadcrumbs-link dark">{{ new.News.title }}</a></li>
        </ul>
        <div class="title-normal title-min-size"><h2>{{ new.News.title }}</h2></div>
        <div class="row">
            <div class="col-5-12 hidden-xs">
                {% if new.News.picture %}
                    <img src="{{ '/'~new.News.picture|trim('/', 'right') }}" class="news-inside-image" alt=" ">
                {% endif %}
            </div>
            <div class="col-7-12 col-xs-1">
                <div class="news-text-block">
                    <div class="news-date">{{ rusTime.formatDate(new.News.date, 'j F Y') }}</div>
                    <div class="news-title">{{ new.News.title }}</div>
                    <div class="visible-xs">
                        {% if new.News.picture %}
                            <img src="{{ '/'~new.News.picture|trim('/', 'right') }}" class="news-inside-image" alt=" ">
                        {% endif %}
                    </div>
                    <div class="news-text">{{ new.News.text }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
