<section class="section-case" id="case">
    <div class="container">
        <div class="h2-fn"> Горячие объявления</div>
        <div class="row row-3 case-items-block">
            {% set favorite = _view.loadHelper('Favorites.Favorite') %}
            {{ adView.setDefaults({default_picture: '/uploads/assets/images/case-image-mob.jpg'}) }}
            {% for item in hotOffers %}
                {% set offerItem = adView.getInfo(item) %}
                <div class="col-1-3 col-xs-1">
                    <a href="{{ html.url(offerItem.url) }}" class="case-item" title="{{ adSeo.pattern_title(item)|e }}" target="_blank">
                        {% set favoriteActiveClass = '' %}
                        {% set favoriteAction = 'add' %}
                        {% if favorite.has('Advertisement', item.Advertisement.id) %}
                            {% set favoriteActiveClass = ' active' %}
                            {% set favoriteAction = 'remove' %}
                        {% endif %}
                        {{ html.tag('div', '', {
                            'class': 'favorites-action star' ~ favoriteActiveClass,
                            'escape': false,
                            'data-model': 'Advertisement',
                            'data-id': item.Advertisement.id,
                            'data-action': favoriteAction
                        }) }}
                        <div class="case-id">id {{ item.Advertisement.id }}</div>
                        <picture class="case-image-wrap">
                            {% set gallery = adView.getGallery(item) %}
                            {% set galleryFirstItem = imageResized.resizeItemPicture(gallery.first, {'width': '379', 'height': '266', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_realty_list'}) %}
                            <img src="{{ galleryFirstItem.src }}" class="case-image" alt="{{ galleryFirstItem.description }}">
                        </picture>
                        <div class="case-content">
                            <div class="case-title">{{ item.Advertisement.location_full }}</div>
                            <div class="case-price">{{ price.format(item.Advertisement.price) }} ₽</div>
                            <div class="case-text">{{ adView.getSiteText(item)|striptags|slice(0, 50) }}...</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="btn-holder spoiler-holder align-center">
            <a href="/agency/realty" class="btn-spoiler">+ Показать больше</a>
        </div>
    </div>
</section>

<style>
    .case-image-wrap.image_news {
        height: 266px;
        overflow: hidden;
    }
    .case-item .news-date {
        font: 400 21px/1 'Stem', sans-serif;
        color: #6b6b6b;
        margin-bottom: 28px;
    }

</style>

<section class="section-list-news" id="news" style="padding: 132px 0 152px;">
    <div class="container">
        <div class="h2-fn">Новости</div>
        {% set rusTime = _view.loadHelper('Fastadmin.RusTime') %}
        <div class="row row-3 case-items-block">
            {% for newGroup in layout_news %}
                <div class="col-1-3 col-xs-1">
                    {% for newItem in newGroup|batch(3) %}
                        <a href="/news/news/view/{{ newItem.News.id }}" class="case-item">
                            {% if newItem.News.picture %}
                                <picture class="case-image-wrap image_news">
                                    <img src="{{ '/'~newItem.News.picture|trim('/', 'right') }}" class="case-image" alt=" ">
                                </picture>
                            {% endif %}
                            <div class="case-content">
                                <div class="news-date">{{ rusTime.formatDate(newItem.News.date, 'j F Y') }}</div>
                                <div class="case-title">{{ newItem.News.title }}</div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="btn-holder spoiler-holder align-center">
            <a href="/news" class="btn-spoiler">+ Показать больше</a>
        </div>
    </div>
</section>

<section class="section-case" id="case">
    <div class="container">
        <div class="h2-fn">Свежие объявления</div>
        <div class="row row-3 case-items-block">
            {% set favorite = _view.loadHelper('Favorites.Favorite') %}
            {{ adView.setDefaults({default_picture: '/uploads/assets/images/case-image-mob.jpg'}) }}
            {% for item in recentOffers %}
                {% set offerItem = adView.getInfo(item) %}
                <div class="col-1-3 col-xs-1">
                    <a href="{{ html.url(offerItem.url) }}" class="case-item" title="{{ adSeo.pattern_title(item)|e }}">
                        {% set favoriteActiveClass = '' %}
                        {% set favoriteAction = 'add' %}
                        {% if favorite.has('Advertisement', item.Advertisement.id) %}
                            {% set favoriteActiveClass = ' active' %}
                            {% set favoriteAction = 'remove' %}
                        {% endif %}
                        {{ html.tag('div', '', {
                            'class': 'favorites-action star' ~ favoriteActiveClass,
                            'escape': false,
                            'data-model': 'Advertisement',
                            'data-id': item.Advertisement.id,
                            'data-action': favoriteAction
                        }) }}
                        <div class="case-id">id {{ item.Advertisement.id }}</div>
                        <picture class="case-image-wrap">
                            {% set gallery = adView.getGallery(item) %}
                            {% set galleryFirstItem = imageResized.resizeItemPicture(gallery.first, {'width': '379', 'height': '266', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_realty_list'}) %}
                            <img src="{{ galleryFirstItem.src }}" class="case-image" alt="{{ galleryFirstItem.description }}">
                        </picture>
                        <div class="case-content">
                            <div class="case-title">{{ item.Advertisement.location_full }}</div>
                            <div class="case-price">{{ price.format(item.Advertisement.price) }} ₽</div>
                            <div class="case-text">{{ adView.getSiteText(item)|striptags|slice(0, 50) }}...</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="btn-holder spoiler-holder align-center">
            <a href="/agency/realty" class="btn-spoiler">+ Показать больше</a>
        </div>
    </div>
</section>

