<section class="section-reviews-all" id="reviews-all" style="min-height: 2000px">
    <div class="container">
        <ul class="breadcrumbs not-marked nav">
            <li><a href="/" class="breadcrumbs-link">
                <svg class="svg-icon smart-home-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 223 193.5">
                    <path class="st0" d="M204.5,79.3l-86-76.7c-4-3.5-9.9-3.5-13.9,0l-86,76.7c-2.2,2-3.5,4.8-3.5,7.8v96c0,5.8,4.7,10.4,10.4,10.4 h172.1c5.8,0,10.4-4.7,10.4-10.4v-96C208,84.1,206.7,81.3,204.5,79.3L204.5,79.3z M187.1,172.6H35.9V91.8l75.6-67.4l75.6,67.4 V172.6L187.1,172.6z"/>
                </svg>
            </a></li>
            <li><a href="#" class="breadcrumbs-link dark">Отзывы</a></li>
        </ul>
        <div class="title-normal"><h2>Отзывы</h2></div>
        <div class="row">
            <div class="col-1-2 col-xs-1" style="min-height: 1680px">
                {% for reviewItem in reviews %}
                    <div class="review-item" id="review-item-{{ reviewItem.Review.id }}">
                        <div class="review-author">
                            <div class="review-author-image-wrap">
                                {% if reviewItem.Review.picture %}
                                    <img src="{{ '/'~reviewItem.Review.picture|trim('/', 'right') }}" class="review-author-image" alt=" ">
                                {% endif %}
                            </div>
                            <div class="review-author-name">{{ reviewItem.Review.sender }}</div>
                            <div class="review-author-status" style="min-height: 36px"></div>
                        </div>
                        <div class="review-text">
                            <p>{{ reviewItem.Review.text|striptags|e }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-1-2 hidden-xs">
                <div class="review-add-form">
                    <div class="form-title">Оставьте свой отзыв</div>
                    <div class="form-subtitle">Введите текст отзыва ниже и отправьте его нам.</div>
                    {{ croogo_region alias = "twig_form_review" }}
                </div>
            </div>
        </div>
        <div class="align-center visible-xs"><a href="#" class="btn btn-transparent open-review-modal">Добавить отзыв</a></div>
    </div>
</section>
